<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <nav>
        <div class="logo">My Awesome Cart</div>
        <div class="menu-btn">
            <div class="btn-line"></div>
            <div class="btn-line"></div>
            <div class="btn-line"></div>
        </div>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">LogIn</a></li>
            <li><a href="#">SignUp</a></li>
            <li>
                <form>
                    <input type="text" placeholder="Search">
                    <button type="submit"><i class="fas fa-search"><img src="search.png" height="20px" width="20px"
                                alt=""></i></button>
                </form>
            </li>
        </ul>
    </nav>


    <div class="slider">
        <div class="slider-wrapper">
            <div class="slide">
                <div class="card">
                    <div class="card-image">
                        <img src="book.avif" alt="Card Image">
                    </div>
                    <div class="card-content">
                        <h2 class="card-title">Python Book</h2>
                        <p class="card-description">Good book for python learners</p>
                        <a href="#" class="card-button">Learn More</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="book1.avif" alt="Card Image">
                    </div>
                    <div class="card-content">
                        <h2 class="card-title">C++ Book</h2>
                        <p class="card-description">Good book for C++ earners</p>
                        <a href="#" class="card-button">Learn More</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="book2.avif" alt="Card Image">
                    </div>
                    <div class="card-content">
                        <h2 class="card-title">JS Book</h2>
                        <p class="card-description">Latest Book for JS learners</p>
                        <a href="#" class="card-button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="card-image">
                        <img src="watch.avif" alt="Card Image">
                    </div>
                    <div class="card-content">
                        <h2 class="card-title">Wrist Watch</h2>
                        <p class="card-description">One of the best wrist watch in the market</p>
                        <a href="#" class="card-button">Learn More</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="watch1.jpg" alt="Card Image">
                    </div>
                    <div class="card-content">
                        <h2 class="card-title">Wrist Watch</h2>
                        <p class="card-description">Latest and amazing watch</p>
                        <a href="#" class="card-button">Learn More</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="watch2.jpg" alt="Card Image">
                    </div>
                    <div class="card-content">
                        <h2 class="card-title">Wrist Watch</h2>
                        <p class="card-description">An Awesome wrist watch</p>
                        <a href="#" class="card-button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="card">
                    <div class="card-image">
                        <img src="laptop.jpg" alt="Card Image">
                    </div>
                    <div class="card-content">
                        <h2 class="card-title">Coding Laptop</h2>
                        <p class="card-description">Best laptop for coders</p>
                        <a href="#" class="card-button">Learn More</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="laptop1.jpg" alt="Card Image">
                    </div>
                    <div class="card-content">
                        <h2 class="card-title">Notebook</h2>
                        <p class="card-description">This is best for Learners</p>
                        <a href="#" class="card-button">Learn More</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="laptop2.webp" alt="Card Image">
                    </div>
                    <div class="card-content">
                        <h2 class="card-title">MAC Book</h2>
                        <p class="card-description">Amazing mac book</p>
                        <a href="#" class="card-button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="slider-prev" href="#">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="slider-next" href="#">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>


    <script src="index.js"></script>
</body>

</html>